body { padding-top: 70px; }

.dashboard {
  padding-top: 0;
}

.navbar-text {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    padding-top: 15px;
}

.dashboard-jumbotron {
  padding-top: 70px;
}

.caption {
  text-align: center;
}

.footer {
  background-color: #f5f5f5;
  padding-bottom: 15px;
}

.vertical-center {
  min-height: 76%;
  min-height: 76vh;

  display: flex;
  align-items: center;
}

.d-inline-block-3 {
  display: inline-block;
}

.d-inline-block-3.quiz-question {
  max-width: 660px;
  padding-left: 10px;
}

.d-inline-3 {
  display: inline;
}

.d-flex-3 {
  display: grid;
}

.quiz-responses {
  padding-left: 50px;
}

.glyphicon.glyphicon-fire {
    font-size: 200px;
    color: orange;
}

#altscore {
  font-size: 200px;
  color: green;
}

#glyph {
  font-size: 200px;
}

.orange-glyph {
  color: orange;
}

.green-glyph {
  color: green;
}

.red-glyph {
  color: #00ff00;
}

.yellow-glyph {
  color: yellow;
}

.glyphicon.glyphicon-signal {
    font-size: 200px;
    color: green;
}

.hiddenRow {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.borderless td {
    border-color: #f1f1f1 !important;
}

.result  {
  margin-left: 15px;
}

.clickable-hover {
  cursor: pointer;
}

.point-left {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.point-down {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
